.pokemongrid {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemonitem {
  display: inline-grid;
  text-align: center;
  margin: 20px;
  outline-style: auto;
  outline-width: 1px;
}

.pokemonitem:hover {
  cursor: pointer;
  opacity: 0.3;
}

h4.pokemonname {
  margin: 0px;
  padding-top: 5px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
