.nav-container {
  background-color: rgb(208, 255, 187);
  padding-top: 10px;
}

.nav-container::after {
  content: "";
  display: table;
  clear: both;
}

.title {
  float: left;
  padding-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 0 40px;
  padding-top: 5px;
}

nav a {
  color: #444;
  text-decoration: none;
  padding: 8px 15px;
  text-transform: uppercase;
}

nav a:hover {
  text-decoration: none;
  color: #444;
}
